/*.ncb
/*.opensdf
/*.pdb
/*.sdf
/*.suo
/*.user
/*vshost.exe*
/Debug
Properties/*.ncb
Properties/*.opensdf
Properties/*.pdb
Properties/*.sdf
Properties/*.suo
Properties/*.user
Properties/*vshost.exe*
Properties/Debug
Properties/_ReSharper.*
Properties/ipch
Properties/obj
/_ReSharper.*
bin/*.ncb
bin/*.opensdf
bin/*.pdb
bin/*.sdf
bin/*.suo
bin/*.user
bin/*vshost.exe*
bin/Debug
bin/Release/*.ncb
bin/Release/*.opensdf
bin/Release/*.pdb
bin/Release/*.sdf
bin/Release/*.suo
bin/Release/*.user
bin/Release/123tilemanager8
bin/Release/Metro360Control
bin/Release/_ReSharper.*
bin/Release/ipch
bin/Release/obj
bin/_ReSharper.*
bin/ipch
bin/obj
/ipch
/obj
